# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Project artifacts
data/*
!data/.gitkeep

runs/*
!runs/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

# Notebooks
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Env
.env